   *
   {
      box-sizing: border-box;    /* lui deve essere contenuto all'interno della finestra, in modo che tutti i contenitori siano allineati con lo schermo, in questo modo mantengo il padding senza problemi  */
      /*border: 1px solid black;*/
   }  

   html, body         /* valido sia hmtml sia body*/
   {
      margin: 0;
      height: 100vh;       /* si prende come altezza i pixel della finestra, IMPORTANTE INSERIRLO, altrimenti non funziona l'height: 50% */
      /*overflow: hidden;*/  /* sparisce la barra di scorrimento, di solito usato nelle section o nei div, per forzare se i contenuti devono scrollare o restare fermi*/
   } 

   body
   {
      padding-top: 90px;  /* somma altezze header+nav*/
   }
   
  header
   {
      background: orange;
      padding: 20px;
      /*width: 250px;*/  
      width: 100%;
      /*height: 50%;*/
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 100;   /* indica la tridimensionalità, il più grande domina(si sovrappone) */
   }

   header .logo
   {
      float: left;
   }

   header .login
   {
      float: right;
   }

   header .text-color
   {
      color: white;
   }

  .bg2
   {
      background: blue;
      padding: 20px;
      float: right;
      width: 50%;      
   }

   .bg3
   {
      background: green;
      padding: 20px;
      /*float: left;*/   
      width: 50%;
      margin: 0 auto;   /* utile per centrare il div, però bisogna togliere il float per far si che funzioni*/
      text-align: center;  
      margin-top: 10px; 
   }

   .text-color
   {
      color: red;
   }

   .container         /* importante per dire al browser quando andare a capo */
   {
      clear: both;    /* dice al browser che a destra e a sinistra vengono interrotti i float, per andare a capo */
      width: 100%;
      height: 100%;
   }
  
   /* Clearfix: permette di avere corsie separate */
   .container:after     /* mi dice di aggiungere il contenuto */
   {
      content: "";      /* content: "ciao"; */
      display: table;   /* forza il contenuto a comportarsi come una tabella */
      clear: both;      /* permette di eliminare, fare pulizia, degli elementi flottanti, in questo modo va a capo*/
   }
  
   /* stile di nav */
   nav
   {
      background: #eee;
      height: 40px;
      padding-top: 9px;
      padding-left: 20px;
      position: fixed;
      top: 50px;
      left: 0;
      right: 0;
      z-index: 100;
   }
   
   /* tolgo i pallini dalla lista, eliminiamo margini e padding */
   nav ul
   {
      list-style: none;
      margin: 0;
      padding: 0;
   }

   nav ul li
   {
      /* display: inline-block; */ /* utile per gli spazi tra i link*/
      float: left;
      margin-right: 10px;
   }
   
   /* tolgo le sottolineature ai link */
   nav ul a
   {
      text-decoration: none;
   }

   section
   {
      position: relative; /* il genitore della position deve essere relative */
      float: left;
      height: 100%;
      background: purple;
      width: 60%;
   }
    
   /*MEDIA-QUERY
   override di section, dal min-width in poi*/
   @media screen and (min-width: 1024px)
   {
      section
      {
         float: left;
         width: 60%;
      }
   }

   section h1
   {
      color: white;
   }

   section p
   {
      color: white;
   }

   aside
   {
      float: right;
      height: 100%;
      background: yellow;
      width: 40%;
      z-index: 10;
   }

   @media screen and (min-width: 1024px)
   {
      aside
      {
         float: right;
         width: 40%;
      }
   }

   footer 
   {
      background-color: black;
      color: white;
      padding: 1opx;
      text-align:  center;
      height: 100px;
   }

   .square-section
   { 
      width: 100px;
      height: 100px;
      background-color: white;
      position: absolute;   /* il figlio della position deve essere absolute */
      text-align: center;
      top: 50px;
      right: -50px;
      cursor: pointer;   /* contenuto cliccabile */
      z-index: 9;
   }

   .square-page
   {
      width: 100px;
      height: 100px;
      background-color: white;
      position: fixed; /* contenuto fisso rispetto alla pagina, quindi si muove in corrispondenza della scroll-bar*/
      text-align: center;
      top: 50px;
      right: 50px;
      z-index: 5; /* va da -infinito a +infinito */
   }
  /* 
   img
   {
        height: auto;
        width:500px;
        max-width: 100%; /* per rendere responsiva l'immagine
   }*/

   .img-container
   {
      background-image: url('./images/torino.jpg'); /*necessarie le dimensione, altrimento non vedrò mai l'immagine*/
      background-repeat: no-repeat; /*importante per fare in modo che l'immagine si veda una volta sola*/
      background-size: cover; /*importante per far in modo che si veda tutta l'immagine(si adatta al div)*/
      /*background-attachment: fixed;/* il nostro background è scollegato dal div(dando fixed insieme a "background-size: cover;" si adatta a tutta la pagina)*/*/
      background-position: center-bottom; /*dando background-position quando l'attachment è fixed*/
      width: 400px;
      height: auto;
      margin-right: 10px;
      margin-bottom: 10px;
      float: left; /* in questo modo il testo sta attorno all'immagine*/
   }

   .img-container p
   {
      color: black;
   }

   p
   {
      text-align: justify;
   }
    
   /*l'interlinea è l'altezza che intercorre tra una linea e l'altra*/
   /*media query modificare le proprietà di un tag html quando*/